<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" routerLink="/app-home" routerLinkActive="active" aria-current="page">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a 
      class="nav-link dropdown-toggle" 
      data-bs-toggle="dropdown" 
      href="#" 
      role="button" 
      aria-expanded="false">
      Dropdown
    </a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="#">Separated link</a></li>
    </ul>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/app-cart-item" routerLinkActive="active">Cart Details</a>
  </li> 
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/app-twowaydatabind" routerLinkActive="active">Two-way-bind</a>
  </li>    -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/app-cart-item-api" routerLinkActive="active">Get Cart Details</a>
  </li>  
  <li class="nav-item">
    <a class="nav-link" routerLink="/app-login" routerLinkActive="active">User Login</a> 
  </li>
  <!-- <li class="nav-item">
    <a class="nav-link" routerLink="/app-structuraldirective" routerLinkActive="active">Structural Directive</a> 
  </li>  -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/app-user-register" routerLinkActive="active">User Sign up</a> 
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/app-loginadmin" routerLinkActive="active">Admin Login</a> 
  </li>
</ul> 

